* {
    font-family: 'Nunito', sans-serif !important;
}

body {
    background-color: #ededed;
}

.main {
    min-height: calc(100vh - 240px);
    box-sizing: border-box;
    margin: 32px 128px;
}

.fondo {
    background-color: #fff;
    border-radius: 16px;
    padding: 48px 0;
}

input[type="text"] {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 6px;
    font-size: 16px;
    width: 192px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus {
    outline: 1px solid #00bbff;
}

h1 {
    font-size: xx-large;
    margin: 8px 0;
    text-align: center;
    user-select: none;
}

.boton {
    padding: 16px 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    font-size: x-large;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.boton:hover {
    background-color: #45a049;
}

.div-boton {
    display: flex;
    justify-content: center;
}

@media (max-width: 910px) {

    h1 {
        font-size: x-large;
    }

    .main {
        min-height: calc(100vh - 248px);
        margin: 16px;
        margin-bottom: 24px;
    }

    .container-votos {
        display: flex;
        flex-direction: column;
    }

    .img-voto {
        max-width: none;
        width: 74vw;
    }

    .boton {
        width: 90%;
        margin: 0 30px;
    }
}

@media (max-width: 600px) {
    .main {
        min-height: calc(100vh - 280px);
    }
}