* {
    font-family: 'Nunito', sans-serif !important;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #ededed;
}

.main {
    min-height: calc(100vh - 212px);
    box-sizing: border-box;
    margin: 32px 128px;
}

h1 {
    font-size: xx-large;
    margin: 8px 0;
    text-align: center;
    user-select: none;
}

@media (max-width: 910px) { /* 900 */

    h1 {
        font-size: x-large;
    }

    .main {
        /* min-height: calc(100vh - 242px); */
        margin: 16px;
        margin-bottom: 24px;
    }

    .container-votos {
        display: flex;
        flex-direction: column;
    }

    .img-voto {
        max-width: none;
        width: 74vw;
    }

    .boton {
        width: 90%;
        margin: 0 30px;
    }
}
