.header {
    background-color: #0c6a93;
    border-bottom: 6px #add8e6 solid;
    color: #fff;
    padding: 24px 16px;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.header>span {
    font-size: x-large;
    height: 26px;
    display: grid;
    place-items: center;
}

.footer {
    background-color: #384955;
    color: #ddd;
    padding: 24px 16px;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.footer>span {
    font-size: large;
    height: 20px;
    display: grid;
    place-items: center;
}

@media (max-width: 900px) {

    .header,
    .footer {
        flex-direction: column;
        gap: 16px;
    }
}