.section-form {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.container-votos {
    padding: 48px 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 32px 0;
    border-radius: 16px;
}

.box-voto {
    display: flex;
    justify-content: center;
}

.box-voto>label {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img-voto {
    user-select: none;
    width: 400px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.img-voto:hover {
    box-shadow: 0px 0px 32px rgb(12, 106, 147, 1);
    transform: scale(1.02);
    transition: calc(0.2s);
    cursor: pointer;
}

.boton {
    padding: 16px 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    font-size: x-large;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.boton:hover {
    background-color: #45a049;
}

.div-voton {
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .container-votos {
        display: flex;
        flex-direction: column;
    }

    .img-voto {
        max-width: none;
        width: 74vw;
    }

    .boton {
        width: 90%;
        margin: 0 30px;
    }
}